<html>
  <head></head>
  <body>
    <img src="https://s3.amazonaws.com/static.fitocracy.com/site_media/user_images/kevinface.png">
    <span style="font-size: 30px; float:right;">Kevin Tao</span>
    <br>
    <br>
    <br>
    <div style="font-size: 30px; text-align: center; align-content: center;">
      <blink> <strong> <em> <u>"Achievements"</u> </em> </strong> </blink>
    </div>
    <br>

    <table border=1>
      <tr>
        <th> 
          Achievement Name
        </th>
        <th>
          Achievement Details
        </th>
      </tr>
      <tr>
        <td><img src="https://www.fitocracy.com/site_media/images/new-badges/bge_str_pullup_2.png"></td>
        <td>Congratulations champion. You have bested all those who would rival your glory! Bask in your fame and fortune. (Fame and fortune not included)
        </tr>
        <tr>
          <td><img src="https://www.fitocracy.com/site_media/images/new-badges/bge_level.png">
          </td>
          <td>Exalted are you, oh noble one. You have completed the Quest of the Goblet of Doom. All the world is in your debt.</td>
        </tr>
      </table>
    </body>
  </html>
