<html>
  <body background="http://firebellydesign.com/system/images/BAhbB1sHOgZmSSIsMjAxMy8wNi8yOC8xMl81MV8yMl81NTFfMTNfRGl2dnlfMDYuanBnBjoGRVRbCDoGcDoKdGh1bWJJIgoxMjAweAY7BlQ/13_Divvy_06.jpg">
    <form action="http://localhost:5000/register/", method="POST">
      <span style="color: green">First name : </span><input type="text" name="firstName"><br>
      <span style="color: pink"> Last name : </span><input type="text" name="lastName"><br>
      <span style="color: blue">Age : </span><input type="text" name="age"><br>
      <span style="color: yellow">Weight : </span><input type="text" name="weight"><br>
      <span style="color: orange">Height : </span><input type="text" name="height"><br>
      Gender:<br>    
      <input type="radio" name="sex" value="male">Male<br>
      <input type="radio" name="sex" value="female">Female<br>
      Email : <input type="text" name="email"><br>
      Profile Image: <input type="text" name="image_url"><br>
      <input type="Submit" value="Submit">
    </form>
  </body>
</html>

